<main class="container">
  <header class="row">
    <%= render partial: 'static_pages/masthead', locals: { user: @user } %>
  </header>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 panel">
          <div class="row">
            <div class="col-md-12">
              <h3 class="panel-header">Recent friend activity</h3>
              <% @activities.each do |activity| %>
                <p><%= activity %></p><br>
                <p><%= activity.owner %></p>
              <% end %>
            </div>
          </div>
          <div class="row panel-content">
            <div class="col-md-8 col-md-offset-2">
              <div class="row">
              </div>
              <div class="row">
                <div class="col-md-12">
                </div>
              </div>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%= link_to 'Sign out', logout_path, method: :delete%>
</main>
