<main class="container">
  <header class="row">
    <%= render partial: 'static_pages/masthead', locals: { user: @user } %>
  </header>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 panel">
          <div class="row">
            <div class="col-md-12">
              <h3 class="panel-header">Recent friend activity</h3>
            </div>
          </div>
          <div class="row panel-content">
            <div class="col-md-8 col-md-offset-2">
              <div class="row">
                <% @activities.each do |activity| %>
                  <% link = activity_message(activity) %>
                  <p><%= activity.owner.first_name%> <%= link %></p><br>
                <% end %>
              </div>
              <div class="row">
                <div class="col-md-12">
                </div>
              </div>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%= link_to 'Sign out', logout_path, method: :delete%>
</main>
